<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> 
    <link rel="stylesheet" href="">
    <title>Bora </title>
</head>
<body>
    

    <nav class="navbar bg-transparent">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../static/img/boralogo2.png"  alt="Bootstrap" width="50" height="50" >
            <span> <b></b> </span>
          </a>
            <div>
              { % if user.is_authenticated %  }
                  Olá, {{ user.get_username }} &nbsp;&nbsp;
                  
                  <a class="btn btn-danger" href="{% url '' %}" style="text-decoration:none">Sair</a>
              { % else %  }
                  <a href="{% url 'login' %}" style="text-decoration:none" >Login</a> &nbsp;&nbsp;
                  &nbsp;&nbsp; | &nbsp;&nbsp;
                  <a href="{% url 'cadastro' %}" style="text-decoration:none" >Cadastro</a> &nbsp;&nbsp;
              { % endif %  } 
            </div>   
          
        </div>
      </nav>

{% block content %}
{% endblock %}

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>